.settings-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  font-family: "Arial", sans-serif;
}

.settings-username {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
  padding: 10px;
  -webkit-text-fill-color: #ddd;
}

.settings-title {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 30px;
}

.settings-box {
  padding: 20px;
  width: 100%;
  align-items: center;
  border-radius: 20px;
  border-bottom: 2px solid #ddd;
  backdrop-filter: blur(20px) brightness(1.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #4CAF50;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.select-box {
  padding: 10px;
  border: 1px solid white;
  width: 100px;
  border-radius: 4px;
}

.radiobutton-box {
  margin-top: 15px;
  margin-bottom: 10px;
}

.radiobutton-box label {
  margin: 5px 0;
  margin-top: 10px;
}

.password-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: 50%;
}
