.training-view {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header-execise {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: #333;
    background-color: #333;;
  }
  

  .loading,
  .error {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  .category-card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;

  }
  
  .category-header {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 15px;
    background-color: #e3e3e3;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    text-align: left;
    width: 100%;
  }
  
  .category-header:hover {
    background-color: #d0d0d0;
  }
  
  .exercise-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 5px;
  }

  .exercise-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .exercise-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    max-width: none;
  }
  
  .exercise-title {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 22px;
    color: #333;
  }

  .exercise-description {
    font-size: 18px;
    padding: 5px;
    color: #555;
    margin-bottom: 10px;
  }
  

  
  .exercise-details {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
    
  }

  .exercise-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .input-group {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }
  
  .time-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .time-label {
    margin-bottom: 5px;
    font-size: 12;
    color: #555;
  }

  .input-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px
  }
  .input-extra-info{
    font-size: 0.8rem;
    color: #555;
    padding: 5px;
  }

  .add-button-holder {
    display: flex;
    padding: 10px;
    justify-content: left;
    width: 28%;
  }

  .add-button:hover {
    background-color: #0056b3;
  }
  

  